$color-rojo:#BF0404;
$color-rosa:#cf2b4e;
$color-verde:#01401C;
$color-aqua:#026873;
$color-gris:#546067;
$color-blanco:#F5FFF8;
$color-amarillo:#ffda2a;
$color-celeste:#67c2cb;
$color-grisoc:#434444;